<% if @senders.any? %>
	<% @senders.each_with_index do |sender, index| %>
		<% if index%2 == 0 %>
			<%= link_to message_path(sender.user_id), method: 'get', remote: true, :class => 'list-group-item list-group-item-action list-group-item-info' do %>		

				<span class="tag tag-default tag-pill pull-xs-right"><%= sender.count %></span><%= sender.name %>
			<% end %>
		<% else %>
			<%= link_to message_path(sender.user_id), method: 'get', remote: true, :class => 'list-group-item list-group-item-action list-group-item-warning' do %>		

				<span class="tag tag-default tag-pill pull-xs-right"><%= sender.count %></span><%= sender.name %>
			<% end %>				
		<% end %>
	<% end %>
<% else %>
	There is no message
<% end %>
	
